services:
  keycloak:
    ports:
      - "8888:8888"
    image: quay.io/keycloak/keycloak:25.0.1
    healthcheck:
      test: "timeout 5s bash -c ':> /dev/tcp/localhost/8888'"
      timeout: 5s
      retries: 3
      start_period: 5s
    command: [ "start-dev", "--http-port=8888", "--hostname-strict=false" ]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: true
  keycloak-configurer:
    build: ./local-dev/keycloak-configurer
    depends_on:
      keycloak:
        condition: service_healthy
  littlehorse:
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-standalone:${LH_VERSION}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:1822/liveness" ]
      timeout: 10s
      retries: 3
      start_period: 10s
    ports:
      - "8080:8080" # Dashboard Port
      - "2023:2023" # LittleHorse Port
    environment:
      - LHC_API_HOST=http://littlehorse
      - LHC_API_PORT=2023
      - LHC_TENANT_ID=default
      - LHS_LISTENERS=PLAIN:2023
      - LHS_ADVERTISED_LISTENERS=PLAIN://littlehorse:2023
  littlehorse-configurer:
    image: ghcr.io/littlehorse-enterprises/littlehorse/lhctl:${LH_VERSION}
    command: [ "put", "tenant", "default" ]
    depends_on:
      littlehorse:
        condition: service_healthy
    environment:
      - LHC_API_HOST=littlehorse
      - LHC_API_PORT=2023
  backend:
    build: .
    depends_on:
      - keycloak
      - littlehorse
    ports:
      - "8089:8089"
    volumes:
      - ./ut-config/:/lh/config/
    environment:
      - LHC_API_HOST=littlehorse
      - LHC_API_PORT=2023
      - LHC_TENANT_ID=default
  frontend:
    build: ../lh-user-tasks-ui
    ports:
      - '3000:3000'
    environment:
      - NEXTAUTH_SECRET=your-secret
      - KEYCLOAK_HOST=http://keycloak:8888 # this is being called from the next js back side
      - KEYCLOAK_CLIENT_ID=user-tasks-client
      - KEYCLOAK_REALM=default
      - KEYCLOAK_CLIENT_SECRET=test
      - LHUT_API_URL=http://localhost:8089 # this is being called from the next js front side
      - LHUT_TENANT_ID=default
