services:
  keycloak:
    ports:
      - "8888:8888"
      - "9000:9000"
    image: quay.io/keycloak/keycloak:${KEYCLOAK_VERSION}
    healthcheck:
      test: "timeout 5s bash -c ':> /dev/tcp/localhost/8888'"
      timeout: 5s
      retries: 3
      start_period: 5s
    command: [ "start-dev" ]
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
      - KC_HTTP_PORT=8888
      - KC_HOSTNAME_STRICT=false
  keycloak-configurer:
    build: ./local-dev/keycloak-configurer
    depends_on:
      keycloak:
        condition: service_healthy
  littlehorse:
    image: ghcr.io/littlehorse-enterprises/littlehorse/lh-standalone:latest
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:1822/liveness" ]
      timeout: 10s
      retries: 3
      start_period: 10s
    ports:
      - "8080:8080" # Dashboard Port
      - "2023:2023" # LittleHorse Port
    environment:
      - LHC_API_HOST=http://littlehorse
      - LHC_API_PORT=2023
      - LHC_TENANT_ID=default
      - LHS_LISTENERS=PLAIN:2023
      - LHS_ADVERTISED_LISTENERS=PLAIN://littlehorse:2023
  littlehorse-configurer:
    build: ../lh-user-tasks-bridge/demo-workflow
    depends_on:
      littlehorse:
        condition: service_healthy
    environment:
      - LHC_API_HOST=littlehorse
      - LHC_API_PORT=2023
  backend:
    build: .
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8089/actuator/health" ]
      timeout: 10s
      retries: 3
      start_period: 10s
    depends_on:
      - keycloak
      - littlehorse
    ports:
      - "8089:8089"
    volumes:
      - ./config/:/lh/config/
    environment:
      - LHC_API_HOST=littlehorse
      - LHC_API_PORT=2023
      - LHC_TENANT_ID=default
  console:
    build: ./console
    ports:
      - '3000:3000'
    environment:
      # New OAuth envs expected by latest Console
      - LHUT_OAUTH_ENCRYPT_SECRET=any-secret
      - LHUT_OAUTH_CLIENT_ID=user-tasks-bridge-client
      - LHUT_OAUTH_CLIENT_SECRET=any-secret
      - LHUT_OAUTH_ISSUER_URI=http://keycloak:8888/realms/default
      - AUTH_URL=http://localhost:3000
      - NEXTAUTH_URL=http://localhost:3000
      - LHUT_API_URL=http://backend:8089
      - LHUT_AUTHORITIES=$.realm_access.roles,$.resource_access.*.roles
