server:
  port: 8089
  error:
    include-message: always
  ssl:
    enabled: false
spring:
  application:
    name: user-tasks
  lifecycle:
    timeout-per-shutdown-phase: 30s
  config:
    import: file:${LHUT_OIDC_CONFIG_FILE_LOCATION:./ut-config/oidc-properties.yml}

springdoc:
  api-docs:
    path: /api-docs
