server:
  port: 8089
  error:
    include-message: always
  ssl:
    enabled: false
spring:
  application:
    name: sso-workflow-bridge
  lifecycle:
    timeout-per-shutdown-phase: 30s
  config:
    import: file:${LHUT_OIDC_CONFIG_FILE_LOCATION:../config/oidc-properties.yml}

management:
  endpoints:
    web:
      exposure:
        include: [ "prometheus", "health" ]

springdoc:
  api-docs:
    path: /api-docs
