name: Build and Test

on:
  pull_request:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          cache: npm
          cache-dependency-path: package-lock.json
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint -ws

      - name: Test
        run: npm run test -ws --if-present

      - name: Build
        run: npm run build -ws


