name: main
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build-and-publish:
    uses: ./.github/workflows/shared-publish.yml
    secrets: inherit
