name: Main
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  publish-docker:
    uses: ./.github/workflows/publish-console-docker.yml

  trigger-build:
    uses: ./.github/workflows/main.yml
