name: Main
on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  publish-docker:
    uses: ./.github/workflows/publish-console-docker.yml

  trigger-build:
    uses: ./.github/workflows/shared-publish.yml
    secrets: inherit
