name: release
run-name: Running Release for tag ${{ github.ref_name }}
on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  set-tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.set_tag.outputs.tag }}
    steps:
      - name: Set Tag
        id: set_tag
        run: |
          echo "tag=$(echo $GITHUB_REF | sed -n 's/refs\/tags\/v//p')" >> $GITHUB_OUTPUT

  build-and-publish:
    needs:
      - set-tag
    uses: ./.github/workflows/shared-publish.yml
    with:
      version: ${{ needs.set-tag.outputs.tag }}
    secrets: inherit

  create-release:
    needs:
      - build-and-publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate a changelog
        uses: orhun/git-cliff-action@v3
        id: git-cliff
        with:
          config: cliff.toml
          args: --verbose --current
        env:
          OUTPUT: CHANGELOG.md

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run:
          gh release create ${{ github.ref_name }} -t ${{ github.ref_name }} -F CHANGELOG.md
