name: test
run-name: Running Tests for branch ${{ github.head_ref }}
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Test and Build Artifact
        run: ./gradlew backend:build
